@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f8fafc;
  height: 100%;
  overflow: hidden;
}
/* 隐藏滚动条但允许滚动 */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 3px; }